$font: 'Fira Mono', monospace;
$terminal-green: #00aa00;
$terminal-blue: #00ffff;
$dusty-black: #120e14;
$off-white: #b9b4a9;

@keyframes BLINK-CURSOR {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes GRADIENT {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  font-size: 16px;
  overflow: hidden;
  background-color: $dusty-black;

  &.lava {
    background: linear-gradient(270deg, #ff5d00, red, #ff0050);
    animation: GRADIENT 4s ease infinite;
    background-color: #ff0000;
    background-size: 600% 600%;

    // this could be easily overridden
    .main-page__command-line-input::after {
      background-color: $terminal-blue;
    }

    // this could be easily overridden
    .main-page__command-line-response--suggestion {
      color: $terminal-blue;
    }

    // these could be easily overridden
    .main-page__command-line-input,
    .main-page__command-line-response {
      color: white;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  display: flex;
}

.main-page {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &__command-line {
    margin-left: 0.5rem;
    position: relative;
    margin-top: 1rem;
  }

  &__command-line-input {
    height: fit-content;
    width: fit-content;
    position: relative;
    color: $off-white;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    &::before {
      content: '$';
    }

    &::after {
      content: '';
      height: 100%;
      width: 0.5rem;
      background-color: $terminal-green;
      animation: BLINK-CURSOR 1.25s infinite;
      position: absolute;
      right: -0.5rem;
      top: 0;
    }
  }

  &__command-line-response {
    max-width: calc(100vw - 1rem);
    width: max-content;
    color: $off-white;

    &--suggestion {
      color: $terminal-green;
    }
  }

  &__dummy-input {
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 1rem;
    position: absolute;
  }
}

.pulsar-container {
  width: 100vw;

  svg {
    position: absolute;
  }
}
