$font: 'Fira Mono', monospace;
$terminal-green: #00aa00;
$dusty-black: #120e14;
$off-white: #b9b4a9;

@keyframes FADE-IN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes BLINK-CURSOR {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

html {
  font-size: 16px;
  overflow: hidden;
  background-color: $dusty-black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  display: flex;
}

.main-page {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  &__links {
    display: flex;
    margin-left: 15vw;
    position: absolute;
    height: fit-content;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
    bottom: 0;
    top: 0;
  }

  &__link {
    text-decoration: none;
    width: fit-content;
    position: relative;
    color: $off-white;
    font-size: 3rem;
    line-height: 1;
    height: 3rem;
    margin-top: 0.5rem;

    &::before {
      content: '';
      height: 0;
      transition: height 0.25s;
    }

    &:hover::before {
      position: absolute;
      opacity: 0.9;
      height: 100%;
      width: 100%;
      z-index: -1;
      left: -0.25rem;
      bottom: -0.5rem;
      padding: 0.25rem 0.25rem;
      background-color: $terminal-green;
    }
  }

  &__command-line-input {
    height: fit-content;
    position: absolute;
    color: $off-white;
    background: none;
    border: none;
    bottom: 1rem;
    left: 1rem;

    &:focus {
      outline: none;
    }

    &::before {
      content: '$';
    }

    &::after {
      content: '';
      height: 100%;
      width: 0.5rem;
      background-color: #00aa00;
      animation: BLINK-CURSOR 1.25s infinite;
      position: absolute;
      right: -0.5rem;
      top: 0;
    }
  }

  &__command-line-response {
    max-width: calc(100vw - 1rem);
    margin-bottom: 0.25em;
    position: absolute;
    width: max-content;
    color: $off-white;
    bottom: 2rem;
    left: 1rem;
  }
}
